
body{
	background-color: #000;
	font-size: 90%;
	font-family: Arial, 'Lucida Sans Unicode';
	line-height: 1.5;
	text-align: left;
	margin: 0 auto;
	width: 75%;
	clear: both;
}

a{
	text-decoration: none;
}


.MainHeader img{
	width:auto;
	height:auto;
	margin:2% 0 0 0;
}

.MainHeader h2, h6{
	color: #444;
	line-height: 0;
}

.MainHeader h6{
	margin-top: 0;
}

.MainHeader nav{
	background-color: #333;
	height: 40px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.MainHeader nav ul{
	list-style: none;
	margin: 0 auto;
	margin: 2% 0;
}

.MainHeader nav ul li{
	float: left;
	display: inline;
}

.MainHeader nav a:link, .MainHeader nav a:visited{
	color: #FFF;
	display: inline-block;
	padding: 10px 15px;
	height: 20px;
}

.MainHeader nav a:hover, .MainHeader nav a:active, 
.MainHeader nav .active a:link, .MainHeader nav .active a:visited{
	background-color: #666;
	font-weight: bold;
}

.MainHeader nav ul li a{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.MainContent{
	line-height: 20px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.Content{
	width: 77%;
	float: left;
}

.Article{
	background-color: #666;
	color: #000;
	padding: 1% 2%;
	margin-top: 1.5%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

}

.KeepConnected{
	width: 20%;
	float: left;
	text-align: center;
	line-height: 20px;
	background-color: #666;
	color: #000;
	padding: 1% 1%;
	margin-top: 1%;
	margin-left: 1%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

}

.KeepConnected img{
	margin: 0 2%;
}

.MainFooter{
	width: 100%;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #333;
	margin-top: 1.5%;
	margin-bottom: 2%;
}

.MainFooter p{
	width: 90%;
	margin: 2% auto;
	color: #FFF;
	font-size: 60%;
}

@media only screen and (min-width: 100px) and (max-width: 600px)
{
	body{
		width: 95%;
		font-size: 95%;
	}
	
	.MainHeader img{
		width:auto;
	}
	
	.MainHeader nav{
		height: 200px;
	}
	
	.MainHeader nav ul{
		padding-left: 0;
	}
	
	.MainHeader nav ul li{
		width: 100%;
		text-align: center;
	}
	
	.MainHeader nav a:link, .MainHeader nav a:visited{
		padding: 10px 15px;
		height: 20px;
		display: block;
	}

	.Content{
		width: 100%;
		float: left;
	}
	
	.KeepConnected{
	width: 98%;
	float: left;
	margin-left: 0;
	}
	
	
}






